<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手绘图像检索</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
<div class="container pt-4">
    <div class="row">
        <div class="col-md-3">
            <h1>手绘图像检索</h1>
        </div>
        <div class="col-md-9">

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <canvas id="draw"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>画板设置</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="brush-size">笔刷大小</label>
                            <input type="range" class="form-range" min="0" max="100" id="brush-size">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="brush-color">画笔颜色</label>
                            <input type="color" class="form-control-color" id="brush-color" value="#000000">
                        </div>
                        <div class="col-md-3">
                            <label for="background-color">背景颜色</label>
                            <input type="color" class="form-control-color" id="background-color" value="#ffffff">
                        </div>
                        <div class="col-md-3">
                            <div class="form-check form-switch">
                                <label for="eraser">橡皮擦</label>
                                <input class="form-check-input" type="checkbox" id="eraser">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button id="clear" class="btn btn-secondary">清空</button>
                            <button id="submit" class="btn btn-primary">检索</button>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="card-body">
                    <div>
                        <h5>检索结果</h5>
                        <div id="result"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    {#
<div>
    <form action="/api/retrieve" method="post" enctype="multipart/form-data">
        <input type="file" id="file" name="file" />
        <input type="submit" value="上传文件" />
    </form>
</div>
#}
</div>
<div class="position-fixed bottom-0 end-0 p-3">
    <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <div id="toast-title" style="font-weight: bold"></div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-body"></div>
    </div>
</div>
</body>
<script src="{{ url_for('static', filename='js/canvas.js') }}"></script>
<script src="{{ url_for('static', filename='js/draw.js') }}"></script>
<script src="{{ url_for('static', filename='js/setting.js') }}"></script>
<script src="{{ url_for('static', filename='js/submit.js') }}"></script>
<script src="{{ url_for('static', filename='js/result.js') }}"></script>
</html>
