<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手写数字识别</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.staticfile.net/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.net/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.net/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container pt-4">
    <div class="row">
        <h1>MNIST 手写数字识别</h1>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <canvas id="draw"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div>
                        <label for="brush-size" class="form-label">笔刷大小</label>
                        <input type="range" class="form-range" min="0" max="100" id="brush-size">
                    </div>
                    <br/>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="eraser">橡皮擦</label>
                        <input class="form-check-input" type="checkbox" id="eraser">
                    </div>
                    <br/>
                    <div>
                        <label for="brushColor">画笔颜色</label>
                        <input type="color" class="form-control form-control-color" id="brush-color" value="#000000">
                        <br/>
                        <label for="backgroundColor">背景颜色</label>
                        <input type="color" class="form-control form-control-color" id="background-color" value="#ffffff">
                    </div>
                    <br/>
                    <div>
                        <button id="clear" class="btn btn-secondary">清空</button>
                        <button id="submit" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    {#
<div>
    <form action="/api/recognize" method="post" enctype="multipart/form-data">
        <input type="file" id="file" name="file" />
        <input type="submit" value="上传文件" />
    </form>
</div>
#}
</div>
</body>
<script src="{{ url_for('static', filename='js/draw.js') }}"></script>
<script src="{{ url_for('static', filename='js/submit.js') }}"></script>
</html>
